<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iacn.hidegms">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="隐藏GMS提示框"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="不再显示需要GMS服务的提示框" />
        <meta-data
            android:name="xposedminversion"
            android:value="30+" />

    </application>

</manifest>
